{% extends "base.html" %}
{% block content %}
<section class="vh-100" style="background-color: #2E2E2E;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: #3a3a3a;">
            <div class="card-body p-5 text-center">
  
              <H1> Add ticket</H1>
      
              
            <form action="" method="POST">
                {% csrf_token %}
                {% if form.errors %}
                <div>error</div>
                {% endif %}
                <div class="col-md-6 mb-3" style="margin-left: 81px;">
                  <label for="Subject" class="form-label">Subject<br></label>
                  <input type="text" class="form-control" id="Subject" name="Subject" required>
                </div>
                
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" style="padding-right: 20px;" type="submit" value="submit">Add</button> 


              
            </form>
              
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}