<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body {
  margin: 0;
  padding: 0;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background-color: #2600ff;
  border-right: 1px solid #ddd;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#navbar li {
  margin: 10    px 0;
}

#navbar a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #6ab4e6;
}
#navbar li p{
    color: white;
}



    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    {% load static %} 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3HV5HzF6Gvk/e9T9hKGQTZl0ew+mH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'vendor/overlay-scroll/OverlayScrollbars.min.css' %}" />
    <link href="{% static 'fonts/icomoon/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/main.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/overlay-scroll/OverlayScrollbars.min.css' %}" rel="stylesheet" />
</head>
    <body>
        
        <div class="container-fluid">
          <div class="row flex-nowrap">
              <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                      <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                          <span class="fs-5 d-none d-sm-inline">Menu</span>
                      </a>
                      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        {% if user.is_superuser %} 
                          <li class="nav-item">
                              <a href="{% url 'home'%}" class="nav-link align-middle px-0">
                                  <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                              </a>
                          </li>
                        {% endif %} 
                          <li>
                              <a href="{% url 'ticket'%}" class="nav-link px-0 align-middle">
                                <i class="bi bi-ticket-perforated"></i> <span class="ms-1 d-none d-sm-inline">Tickets</span> </a>
                              
                          </li>
                        
                        {% if user.is_superuser %} 
                          <li>
                              <a href="{% url 'user'%}" class="nav-link px-0 align-middle">
                                  <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Users</span> </a>
                          </li>
                        {% endif %} 
                      </ul>
                      <hr>
                      <div class="dropdown pb-4">
                          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person"></i>
                            <span class="d-none d-sm-inline mx-1">{{user.username}}</span>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                              
                              <li><a class="dropdown-item" href="#">Profile</a></li>
                              <li>
                                  <hr class="dropdown-divider">
                              </li>
                              <li><a class="dropdown-item" href="{% url 'logout'%}">Sign out</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col py-3">
                {% block content %}
              
                {% endblock %}
              </div>
          </div>
      </div>
        
          {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
        
        
</body>
</html>